[submodule "pcb"]
	path = pcb
	url = https://github.com/KaliAssistant/Lichee-Jack-pcb.git
[submodule "sophgo-sg200x-debian"]
	path = sophgo-sg200x-debian
	url = https://github.com/KaliAssistant/sophgo-sg200x-debian.git
	branch = lichee-jack
[submodule "3dp"]
	path = 3dp
	url = https://github.com/KaliAssistant/Lichee-Jack-3dp.git
